<nav class="navbar">
    <a id="1" href="/comandas">Comandas</a>
    <a id="2" href="/admin/categories">Categorias</a>
    <a id="3" href="/admin/itens">Itens</a>
    <a id="4" href="/admin/articles/new">Artigos</a>
    <a id="6" href="/clientes">Clientes</a>
    <a id="5" href="/fornecedores">Fornecedores</a>
    
</nav>
<script>
</script>