<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="corpo">
        <h1></h1>
        
    </div>
    
    
</body>
<%- include('partials/footer.ejs') %>