<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="corpo" >
        
        
    </div>
    
    
</body>
<%- include('../../partials/footer.ejs') %>