
<div class="formcad">
    <br>
    <h1>Tela de Cadastro de Categorias</h1>
    <br>
    <input class="myinput" type="text" name="nome" id="nameCat" placeholder="Digite o Nome da Categoria">
    <br><br>
    <button class="btn" onclick="sendDataCat('../getData')">Cadastrar Categoria</button>
</div>
