
<div class="formcad">
    <br>
    <h1>Tela de Cadastro de Itens</h1>
    <br>
    <input class="myinput" type="text" name="nome" id="nameProduto" placeholder="Digite o Nome do Produto">
    <br>
    <select  name="" class="myselect" id="catProduto"><--Datas--></select>
    <input class="myinput" type="text" name="valorV" id="vvProduto" placeholder="Digite o Valor de Venda">
    <input class="myinput" type="text" name="valorC" id="vcProduto" placeholder="Digite o Valor de Compra">
    <input class="myinput" type="text" name="quantidade" id="quantidade" placeholder="Digite a quantidade comprada do produto">
    <br>
    <br><br>
    <button class="btn" onclick="analyseFormNewItem('../cadNewItem')">Cadastrar Produto</button>
</div>
<script>
</script>