.container{
  background: #eee;
  min-height: 100vh;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px;
}
.post{
  background: #fff;
  padding: 10px;
  transition: transform 100ms ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.post:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.post img{
  max-width: 100%;
}
